
  
 .card img {
    width: 100;
    transition: 0.5s all ease-in-out;
    overflow: hidden;
}

.card:hover img {
    transform: scale(1.02);
    overflow: hidden;
}
.card-header{
    text-align: center;
}
.card-footer{
    text-align: center;
}
.card-text{
    text-align: justify;
}
